{
  "connectors" : [
    {
      "type" : "jabber",
      "username" : "",
      "fullname" : "Linkbot",
      "password" : "",
      "rooms" : [],
      "resource" : "bot",
      "server" : "chat.hipchat.com",
      "conference" : "conf.hipchat.com",
      "periodic" : true,
      "receive_broadcasts" : true
    },
    {
      "type" : "thin",
      "port" : 4000,
      "broadcast" : true
    }
  ],
  "plugins" : {
    "links" : {
      "whitelist" : [
        "http://google.com",
        "http://youtube.com"
      ]
    },
    "pull_requests" : {
      "base_uri" : "https://api.github.com",
      "username" : "username",
      "password" : "password",
      "owner" : "Lookingglass",
      "project" : "scoutvision"
    },
    "hubstat" : {
      "room" : ""
    },
    "boo" : {
      "webhook" : "http://playasoundorsomething.com/boo"
    },
    "video" : {
      "base_uri" : "http://videoplayer.com"
    },
    "blowhard" : {
      "webhook" : "http://blowhard"
    },
    "party" : {
      "off_hooks" : [
        "http://businessinthefront"
      ],
      "on_hooks" : [
        "http://partyintheback"
      ]
    },
    "fail" : {
      "webhook" : "http://failsound.mp3"
    },
    "weather" : {
      "key" : "yourkey",
      "icons" : false,
      "default-zip" : "21224"
    },
    "build" : {
      "webhook" : "http://buildserver/build"
    }
  },
  "permissions" : {
    "test_room" : {
      "blacklist" : [
        "Cats"
      ]
    },
    "other_room" : {
      "whitelist" : [
        "Image"
      ]
    }
  }
}
